body {

	
	background-repeat: no-repeat ;
	background-size:cover;
	font-family: Roboto, sans-serif;
	
	}

.bodyinicio {
    background-image: linear-gradient(#993333, #f25764);
}

.bodyproductos {
    background-image: linear-gradient(#7b557c, #bf63b0);
     }


.bodyrecetas {
    background-image: linear-gradient(#336666, #6fbfb7);
     }

@mixin condicion ($gradiante){
	background-color: $gradiante;
	@if $gradiante == linear-gradient(#993333, #f25764) 
	{h3: white;}
	@else { h3:red}
}



.grilla {
		
		display: grid;
		grid-template-columns: 600px auto 300px;
		grid-template-rows: 600px;
		justify-items: center;
		align-items: center;
		grid-column-gap: 30px;
		padding: 30px;
		
	
	    }
