.tablaRecetas {
			
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

}



.recetasContenedor {
    width: 300px;
    height: 600px;
    margin: 5px;
    padding: 5px;
}



.imagenRecetas {

    border-radius: 25px;
}

.tituloRecetas {
    color: #FFF;
    font-size: 30px;
}
.recetas__descripcion {
    
    color: #FFF;
    margin-bottom: 20px;
    line-height: 1.6;

}