.nadamasrico { 
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 50px;
    font-style: italic;
    color: #FFF;
}




.tituloChico {
text-align: left;
color: grey;
font-size: 30px;
}
.tituloSeccion{
color:#FFF;
font-size: 60px;
text-align: center;
}
.textonovedades {
color:#F25764;
background:white;
padding: 35px;
text-align: center;
}

.tituloBuscador {
color: #fff;
font-size: 20px;
text-align: center;
}

.encabezado { 
display: flex

}